.copyright__link {
  margin-left: 15px;
  margin-top: -6px;
  fill: $pink;

  &:hover {
    fill: $bluedark;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-top: 7px;

  @media (min-width: $medium-width) {
    margin-top: 2px;
  }

  @media (min-width: $large-width) {
    font-size: 18px;
    margin-top: -3px;
  }
}
